@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');



* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --blue1: #25477A;
    --blue2: #1854AD;
    --blue3: #28D3E0;
    --orange1: #AD2D1B;
    --orange2: #E48462;
    --cinzatxt: rgba(0, 0, 0, 0.671);
}


body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


header {
    text-align: center;
    background-color: var(--blue2);
    color: white;
}

span#burguer {
    user-select:none;
    background-color: var(--blue1);
    display: block;
    padding: 10px 0px;
    color: white;
    font-size: 1.5em;
    transition: 0.2s;
    cursor: pointer;
}

span#burguer:hover {
    background-color: var(--blue3);
    transition: 0.2s;
    
}

header > h1 {
    
    font-family: 'Black Ops One', cursive;
    padding: 15px 0px;
    font-weight: 100;
    font-variant: small-caps;
    font-size: 3em;
}

.itens {
    display: none;
    transition: 0.5s;
}

.show-itens {
    display: block;
    transition: 0.5s;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    line-height: 2em;
    margin: auto;
    text-align: center;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: white;
    background-color: var(--orange1);
    transition: 0.2s;
}

menu > ul > li > a:hover {
    background-color: var(--orange2);
    transition: 0.2s;
}

main {
    display: block;
    width: 90vw;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;

}

article h1, h2, h3 {
    padding-bottom: 10px;
}

article h2 {
    font-size: 2em;
    width: 400px;
    border-bottom: 1px solid var(--orange2);
}

#asidet {
    color: var(--cinzatxt);
    margin: 10px 0px;
}

article h3 {
    font-size: 1.3em;
}


article p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5em;
}

img {
    display: inline;
    width: 90vw;
    text-align: center;
}

.desc {
    width: 90vw;
    font-size: 0.8em;
    margin-bottom: 20px;
    color: var(--cinzatxt);
    background-color: #E48462;
}